body {
  /*font-family: Arial, sans-serif;*/
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /*padding-top: 20px;*/
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: linear-gradient(
    315deg,
    rgb(95, 5, 179) 3%,
    rgb(68, 109, 187) 38%,
    rgb(9, 102, 145) 68%,
    rgb(0, 2, 100) 98%
  );
  animation: gradient 120s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgba(1, 23, 44, 0.356);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 20s -6s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 36s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 40s -2s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.main_header_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  gap: 10%;
}

.main_header {
  display: inline-block;
  width: auto;
  padding: 1em;
  color: linear-gradient(
    315deg,
    rgb(95, 5, 179) 3%,
    rgb(68, 109, 187) 38%,
    rgb(9, 102, 145) 68%,
    rgb(0, 2, 100) 98%
  );
  font-weight: 400;
  font-size: large;
  min-height: calc(100vh - 50px);
}

.btn {
  --border-color: linear-gradient(
    315deg,
    rgb(95, 5, 179) 3%,
    rgb(68, 109, 187) 38%,
    rgb(9, 102, 145) 68%,
    rgb(0, 2, 100) 98%
  );
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #c5e5ff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 25px;
  border: 0;
  text-transform: capitalize;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    /* Top-left */ 0% var(--curve-size),
    var(--curve-size) 0,
    /* top-right */ 100% 0,
    100% calc(100% - var(--curve-size)),
    /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
    /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.btn::after,
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
}

.btn::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 120s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }

  50% {
    background-position: 70% 100%;
  }

  100% {
    background-position: 31% 0%;
  }
}

.btn::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  clip-path: polygon(
    /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    /* top-right */ calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}

.main_header_heading {
  --s: 0.05em; /* the thickness of the line */
  --c: #295da1; /* the color */

  color: #c5e5ff;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
  font-family: system-ui, sans-serif;
  font-size: 6.5rem;
  cursor: default;
}

.main_header_heading:hover {
  --_p: 100%;
  --c: #295da1;
}

.footer {
  background-color: #080312; /* Dark background color */
  color: #c5e5ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; /* Adjust horizontal padding to 0 */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Thin footer */
  box-sizing: border-box;
}

.footer-left p {
  margin: 0;
  padding-left: 2vw;
  font-size: 12px; /* Small white text */
}

.footer-right {
  display: flex;
  align-items: center;
  padding-right: 2vw;
}

.footer-left a
{
  color:rgb(9, 102, 145);
}

.footer-right button{
  align-items: center;
  appearance: none;
  background-color: #295da1;
  background-image: linear-gradient(
    90deg,
    rgb(68, 109, 187) 38%,
    rgb(9, 102, 145) 68%,
    rgb(119, 19, 212) 98%
  );
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #c5e5ff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.footer-right button:active,
button:focus {
  outline: none;
}

.footer-right button:hover {
  background-position: -20px -20px;
}

.footer-right button:focus:not(:active) {
  box-shadow: rgb(68, 109, 187) 38%, 0 0 0 .125em;
}